html, body {
	margin: 0px;
}

.game {
	justify-content: space-between;
	flex-direction: column;
	display: flex;
	min-height: 100%;
	width: 234px;
	background-color: #dddddd;
	position: absolute;
	margin-left: calc(50% - 116px);
}

button {
	margin: 5px auto;
	display: block;
}

.menu {
	width: 100%;
	background-color: #cccccc;
}

.selector {
	margin: auto;
	width: 170px;
}

.selector div {
	border: 2px solid transparent;
	margin: 5px;
	display: inline-block;
}

.peg {
	height: 40px;
	width: 40px;
	background-color: #999999;
	border-radius: 50%;
}

.results div {
	display: inline-block;
	margin: 2px;
}

.result-peg {
	height: 12px;
	width: 12px;
	background-color: #999999;
	border-radius: 50%;
}

#arrow {
	border: solid black;
	border-width: 0px 5px 5px 0px;
	display: inline-block;
	padding: 5px;
	transform: rotate(-45deg);
	position: absolute;
}
